body
{
    padding: 0;
    margin:0;
}
ul
{
    list-style: none;
    display: flex;
    gap:30px;
}
a
{
    text-decoration: none;
}
.secondary
{
    font-size: 18px;
    color: #e5e7eb;
}
.header
{
    display: flex;
    justify-content: space-between;
}
.logo
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    font-family: Roboto, Ubuntu, Cantarell, sans-serif;
}
.header
{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    align-items: center;
}
.introduction
{
    width: 87vw;
    background-color: #1f2937;
    padding: 6.5vw;
}
.small-400
{
    max-width: 400px;
}
.small-500
{
    max-width: 500px;
}
.margin-bsmall
{
    margin-bottom: 10px;
}
.header1
{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
button
{
    border-radius: 7.5px;
    background-color: #3882f6;
    border: 0;
    padding:5px 20px;
    font-weight: 600;
}